/** Batch File Data Table */
  #dataTable.batch-file-table .file-column {
    float: left;
  }
  #dataTable.batch-file-table .countable-column-div {
    max-width: 2rem;
    margin: auto;
  }
  #dataTable.batch-file-table .countable-column-data {
    float: right;
  }
  #dataTable.batch-file-table /deep/ .v-pagination__navigation > i {
    padding-left: 0;
  }
  #dataTable.batch-file-table /deep/ table th .countable-column-header .v-icon {
    padding: 0.5rem 0;
  }
  #dataTable.batch-file-table /deep/ table th{
    text-align: center !important;
    font-size: 0.875rem;
  }

  #dataTable.batch-file-table.filterable-table /deep/ table th{
    vertical-align: top;
    padding-top: 0.5rem;
  }

  #dataTable.batch-file-table /deep/ table th:nth-child(13) {
    width: 5%;
  }

  #dataTable.batch-file-table /deep/ table td { 
    border-bottom: none !important;
  }
  #dataTable.batch-file-table /deep/ table td:nth-child(5),
  #dataTable.batch-file-table /deep/ table td:nth-child(8),
  #dataTable.batch-file-table /deep/ table td:nth-child(10),
  #dataTable.batch-file-table /deep/ table td:nth-child(11),
  #dataTable.batch-file-table /deep/ table th:nth-child(5),
  #dataTable.batch-file-table /deep/ table th:nth-child(8),
  #dataTable.batch-file-table /deep/ table th:nth-child(10),
  #dataTable.batch-file-table /deep/ table th:nth-child(11) { 
    border-left: thin solid #d7d7d7;
  }
  #dataTable.batch-file-table /deep/ table tr.first-active-file td{ 
    border-top: thin solid #d8d8d8;
  }
  #dataTable.batch-file-table /deep/ table { 
    border-top: thin solid #d7d7d7;
    border-bottom: thin solid #d7d7d7;
  }
  #dataTable.batch-file-table /deep/ table tr { 
    cursor: pointer;
  }
  #dataTable.batch-file-table /deep/ table tr.selected-file,
  #dataTable.batch-file-table /deep/ table tbody tr:hover { 
    background-color: #E1F5FE
  }
  #dataTable.batch-file-table /deep/ table td:nth-child(10),
  #dataTable.batch-file-table /deep/ table th:nth-child(10) { 
    background-color: rgba(0, 0, 0, 0.06);
  }

  #dataTable.batch-file-table /deep/ table .file-checkbox .v-icon.fa-minus-square {
    color: #039BE5 !important;
  }

  #dataTable.batch-file-table .file-checkbox {
    margin-top: 0;
  }
  #dataTable.batch-file-table .file-checkbox /deep/ .v-input__slot {
    margin-bottom: 0;
  }
  #dataTable.batch-file-table .file-checkbox /deep/ .v-input__slot .v-input--selection-controls__input {
    margin-right: 0;
  }

  #dataTable.batch-file-table .header-checkbox {
    padding-top: 0;
  }
  #dataTable.batch-file-table .header-checkbox /deep/ .v-input__slot {
    padding-top: 0;
  }

  #dataTable.batch-file-table .filter-checkbox /deep/ .v-input__slot {
    justify-content: center;
    padding-top: 0;
  }

  #dataTable.batch-file-table .select-column {
    vertical-align: bottom !important;
  }
  